h1{
    text-align: center;
}

table, th, td{
    border: 1px solid black;
}

td{
    text-align: center;
}

.btn{
    background-color: dodgerblue;
    border: none;
    color: white;
    cursor: pointer;
    width: 2rem;
}

.btn:hover{
    background-color: royalblue;
}
